* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  font-style: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-style: poppins;
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 1150px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 10px;
    max-width: 1130px;
  }
}

.slider {
  background-image: url(../../img/bitmap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 211px;
  min-height: 810px;
}

.slider-text-box {
  max-width: 616px;
}

.slider-p1 {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.slider-h1 {
  color: white;
  font-family: Poppins;
  font-size: 60px;
  line-height: 74px;
  font-weight: 700;
  margin-bottom: 24px;
}

.slider-p2 {
  color: white;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 45px;
}

.slider-link {
  color: #FFD723;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

header {
  position: absolute;
  width: 100%;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients {
  width: 100%;
  padding: 60px 65px;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  background-color: #FFFFFF;
  border-radius: 2px;
  position: absolute;
  transform: translateY(-50%);
  max-width: 1276px;
  z-index: 10;
  right: 0;
}
@media (max-width: 768px) {
  .clients {
    padding: 30px 35px;
  }
}
@media (max-width: 425px) {
  .clients {
    padding: 15px 20px;
  }
}

.services-box {
  border: 1px solid green;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 150px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0941176471);
  padding-top: 250px;
}

.services-item {
  border: 1px solid yellow;
}

.services-subtitle {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 15px;
  color: #4d533c;
}

.services-title {
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 35px;
  color: #4d533c;
}

.services-text {
  line-height: 26px;
  font-family: Poppins;
  margin-bottom: 42px;
  color: rgba(33, 56, 66, 0.6);
}

.services-link {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 7px;
  color: #d4d6d4;
  display: block;
}

.services-link:hover {
  color: #FFD723;
}

.services-link svg {
  fill: #d4d6d4;
}

.services-link:hover > svg {
  fill: #FFD723;
}

.main-inf-project {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}

.title-inf-project {
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 54px;
  color: #4d533c;
  width: 325px;
}

.p-inf-project {
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  max-width: 518px;
  margin-top: 12px;
  margin-left: 458px;
  color: rgba(33, 56, 66, 0.6);
}

.project-box1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title-project {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  width: 475px;
  height: 104px;
  gap: 0px;
  opacity: 0px;
  color: #4d533c;
}

.project-p {
  width: 421px;
  height: 156px;
  top: 128px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
}

.link-project {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 7px;
  color: #d4d6d4;
  display: block;
}

.link-project:hover {
  color: #FFD723;
}

.link-project svg {
  fill: #d4d6d4;
}

.link-project:hover > svg {
  fill: #FFD723;
}/*# sourceMappingURL=main.css.map */