.clients-list{
    display: flex;
    justify-content: space-between;
}
.clients{
    width: 100%;
    padding: 60px 65px;
    box-shadow: 50px 50px 100px rgba(0,0,0,.145947);
    background-color: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    transform:  translateY(-50%);
    max-width: 1276px;
    z-index: 10;
    right: 0;



    @media  (max-width :768px ){
        padding: 30px 35px;
         
            }
        
            @media  (max-width :425px ){
                padding: 15px 20px;
                
                    }
}
