.main-inf-project{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;

    

}

.project-item{
    // flex-direction: row-reverse;
display: flex;
position: relative;
}


.title-inf-project{
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 54px;
   color: $text-color;
   width: 325px;
    
}



.p-inf-project{
    
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
   font-size: 16px;
  max-width: 518px;
   
color: $p-color;
}



.project-box1{
   padding-left: 110px;
  
    

}

.project-box2{

padding: 30px 35px;
width: 450px;
min-height: 210px;
box-shadow: 50px 50px 100px rgba(0,0,0,.145947);
border-radius: 8px;
position: absolute;
right: 60px;
bottom: -60px;
background-color: white;
z-index: 10;
right: -60px;
}
.box2-text{
    font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-bottom: 24px;


}
.box2-container{
    display: flex;
    
}
.box2-title{
    font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: $text-color;
font-style: normal;
padding-top: 24px;
}


.box2-subtitle{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #152934;
}

.title-project{
    font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 48px;
text-align: left;


opacity: 0px;
color: $text-color;
margin-bottom: 24px;

}

.project-p{
    width: 421px;
height: 156px;
top: 128px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: $p-color;
}

.link-project{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 7px;
    color: $link-color;
    display: block;

}
.link-project:hover{
    color: $hover-color;

}
.link-project svg{
    fill: $link-color;
}
.link-project:hover>svg {
    fill: $hover-color; 
}
.project-items-left{
    position: relative;
}