.product-idea-title{
    width: 607px;
height: 92px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 46px;
text-align: left;
color: $text-color;
margin-bottom: 60px;
max-width: 607px;

}
.product-idea-list{
    display: flex;
    gap: 25px;
}
.product-idea-small-title{
   max-width: 194px;
   margin-bottom:30px ;
    opacity: 0px;
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 34px;
text-align: left;
color: $text-color;
margin-bottom: 20px;
}

.product-idea-p{
    max-width: 194px;
height: 78px;
margin-bottom: 30px;
color: $p-color;
}


.product-idea-item{
    padding: 35px;
display: flex;
gap: 30px;
flex-direction: column;
align-items: flex-start;
}