.slider{
    background-image: url(../../img/bitmap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 211px;
    min-height: 810px;
    
}
.slider-text-box{
    max-width: 616px;
    
}
.slider-p1{
    color: white;
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}
.slider-h1{
    color: white;
    font-family: Poppins ;
    font-size: 60px;
    line-height: 74px;
    font-weight: 700;
   margin-bottom: 24px;
}
.slider-p2{
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 26px;
   margin-bottom: 45px;
}
.slider-link{
    color:#FFD723;
}